#start, #map {
	margin-bottom: $baseline;
}

#start {
	span { margin-left: 13px; }
}

.map-container {
    position: relative;
    padding-bottom: 36%; // (338 ÷ 940 = 0,3595 = 36%)
    margin-bottom: $baseline;
    height: 0;
    overflow: hidden;

    iframe {
    	position: absolute;
    	top:0;
    	left: 0;
    	width: 100%;
    	height: 100%;
  }
}

/* #Lists
================================================== */

ul {
	list-style-image: url(../img/rightarrow.png);
	margin-bottom: $baseline;
	margin-left: 23px;

	li {
		padding: 0px 0px 0px 0px;
	}
}

.list-unstyled {
	list-style: none;
	margin: 0px 0px $baseline 0px;
}

/* #Images
================================================== */

img {
	vertical-align: middle;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.image-container {
	float: left;
	margin-right: 20px;
	margin-bottom: $baseline;
	position: relative;

	.image-container-content {
		position: absolute;
		width: 100%;
		height: 2*$baseline;
		background-color: rgba(155,189,120,0.85);
		color: $colorBG;
		top: 312px - 2*$baseline;
		text-align: center;
		left: 0;

		span {
			display: block;
		}
	}

	&.small {
		width: 220px;
		height: 312px;
	}

	&.big {
		width: 460px;
		height: 312px;
	}

	&.last {
		margin-right: 0px;
	}
}

/* #Links
================================================== */
a {
	text-decoration: none;
}

a.link {

	border-bottom: 1px dotted;
	text-decoration: none;

	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;

	&:hover {
			background-color: darken( $colorBG, 10% );
	}

	&.link-inverted {
		color: $colorImp;
		border-bottom: 1px dotted $colorImp;

		&:hover {
			background-color: lighten( $colorTopBottom, 10% );
		}
	}

	&.link-footer:hover {
		background-color: lighten( $colorFooter, 10% );
	}
}


// Buttons