$baseline: 26px;
$basefont: 16px;

// NOTE: http://name-of-color.com/

$colorTopBottom: #3f474a; // Outer Space
$colorBG: #ffffff;				// White
$colorImp: #9bbd78;				// Olivine
$colorFooter: #bbbbbb;		// Gray