<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Hausverwaltung &amp; Immobilien Bärbel Haußmann GmbH &amp; Co.KG </title>
  <link rel="stylesheet" href="/css/layout.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://www.hv-haussmann.de/img/favicon.ico" type="image/x-icon">
  <meta http-equiv="content-language" content="de">
  <meta name="keywords" content="hv-haussmann hausverwaltung immobilien berlin haußmann bärbel verwaltung wilmerdsdorf nassauische straße">
  <meta name="description" content="HAUSVERWALTUNG &amp; IMMOBILIEN Bärbel Haußmann GmbH &amp; Co.KG Wir verwalten Immobilien seit 1992 aus zentraler Lage im Berliner Raum. Zu unseren zufriedenen Kunden zählen private Eigentümer, Wohnungseigentümergemeinschaften, Bruchteilsgemeinschaften sowie Banken und Insolvenzverwalter. Wir betreuen zur Zeit ca. 1000 Wohn- und Gewerbeeinheiten und ca. 860 Bruchteilseinheiten.">

</head>
<body> 
  <div id="tagline">
    <div class="container">
      <div class="sixteen columns">
        <span><img src="/img/mail.png" alt="E-Mailadresse" /><a class="link link-inverted" href="mailto:info@hv-haussmann.de">info@hv-haussmann.de</a></span>
        <span><img src="/img/phone.png" alt="Telefonnummer" />(030) 86 10 36 4</span>
      </div>
    </div>
  </div>
  
  <div id="header" class="container">
    <div class="sixteen columns">
      <div class="five columns alpha">
        <a href="/">
          <img src="/img/logo_hv_haussmann.png" alt="Logo" />
        </a>
      </div>
      <div class="eleven columns omega">
        <h1><a href="/">Hausverwaltung &amp; Immobilien</a></h1>
        <h2><a href="/">Bärbel Haußmann GmbH &amp; Co.KG</a></h2>     
      </div>
    </div>
  </div>

  <div id="banner">&nbsp;</div>

  <div id="navigation" class="container">
    <div class="sixteen columns">
      <ul>
        {% assign current = page.url | downcase | split: '/' %}
        <li><a href="/" {% if current[1] == 'index.html' %}class='current'{% endif %}>Start</a></li>
        <li><a href="/about/" {% if current[1] == 'about' %}class='current'{% endif %}>Über uns</a></li>
        <li><a href="/references/" {% if current[1] == 'references' %}class='current'{% endif %}>Referenzen</a></li>
        <li><a href="/contact/" {% if current[1] == 'contact' %}class='current'{% endif %}>Kontakt</a></li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="container">
      {{ content }}
    </div>
  </div>
 
  <footer>
    <div class="container">
      <div class="sixteen columns">
        <div class="eight columns alpha">
          <div class="four columns alpha">
            <h3>Kontakt</h3>
            <ul class="list-unstyled">
              <li>Tel: (030) 86 10 36 4</li>
              <li>Fax: (030) 86 42 37 53</li>
              <li>E-Mail: <a class="link link-footer" href="mailto:info@hv-haussmann.de">info@hv-haussmann.de</a></li>
            </ul>
          </div>
          <div class="four columns omega">
            <h3>Sprechzeiten</h3>
            <ul class="list-unstyled">
              <li>Mo, Mi, Fr:</li>
              <li>9:00 Uhr bis 12:00 Uhr</li>
              <li>Di, Do:</li>
              <li>9:00 Uhr bis 12:00 Uhr und<br /> 13:00 Uhr bis 16:00 Uhr</li>
            </ul>
          </div>
        </div>
        <div class="eight columns omega">
          <div class="four columns alpha">
            <h3>Adresse</h3>
            <ul class="list-unstyled">
              <li>Hausverwaltung &amp; Immobilien Bärbel Haußmann GmbH &amp; Co. KG</li>
              <li>Nassauische Straße 22</li>
              <li>10717 Berlin</li>
            </ul>
          </div>
          <div class="four columns omega">
            <h3>Sitemap</h3>
            <ul class="list-unstyled">
              <li><a class="link link-footer" href="/">Start</a></li>
              <li><a class="link link-footer" href="/about/">Über uns</a></li>
              <li><a class="link link-footer" href="/references/">Referenzen</a></li>
              <li><a class="link link-footer" href="/contact/">Kontakt</a></li>
              <li><a class="link link-footer" href="/imprint/">Impressum</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="imprint">
    <div class="container">
      <div class="sixteen columns">
        <p>© hv-haussmann.de &middot; 2017 &middot; <a class="link link-inverted" href="/imprint/">Impressum</a> </p>
      </div>
    </div>
  </div>
</body>
</html>